/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full {
   margin-top: 1em;
 }

.post-full .date {
    font-size: 0.45em;
    font-variant: small-caps;
    font-weight: 300;
    vertical-align: 50%;
    letter-spacing: -1px;
    margin-left: -10px;
    color: #666;    
    width: 100px;        
 }

.post-full figure.full
{
    width:100%;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: 0px;
    margin-right: 0px;    
}

figure.full img {
  width: 100%;
  max-width: 100%;
  height: auto;  
}

figure.medium
{
    width:400px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large
{
    width:500px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large img {
    width:500px; 
    height: auto;
}

figcaption
{
    font-family: "Quattrocento Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #EFEFEF;    
    font-size: 90%;        
    margin-left: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    display: block;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

p + p {
  margin-top: 30px;
}

footer { 
 position: relative;
 z-index: 10; 
 line-height: normal;
 margin-top: 10px; 
 font-size: 0.75em;
 font-family: 'Lato'; 
 padding-top: 2em; 
 padding-bottom: 1.5em;
}

.content h1 {
  font-family: 'Lato', 'HelveticaNeue-Light', sans-serif;
  color: #3F3F3F;
  font-size: 1.7em;  
}

.brand {  
  background-color: #90B0CC;
  display: block;  
  max-width: auto;  
  padding-bottom: 1em;
}

.brand h1 {
  padding-top: 0.3em;
  padding-left: 0.3em;
  font-family: 'share-regularregular';   
  font-size: 200%;
}

.brand h2.subtitle {
  color: #F1FAFF;
  padding-top: 0.3em;
  font-family: 'share-regularregular';   
  font-size: 110%;
  font-style: italic;
  padding-left: 1.4em;
  margin-top: -1em;
}
  
.brand a {
  color: #45698B;
  text-decoration:none;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:0.2s;
  -ms-transition:0.2s;
  -moz-transition:0.2s;
  -webkit-transition:0.2s;
  /* ...and now for the proper property */
  transition:0.2s;
}

.brand a:hover {
  color: #5F90BF;
}

.brand h1 b {
  font-family: 'share-boldregular';     
}

.container {  
  margin: 0 auto;
}

.posts li {  
  line-height: 90%;
  list-style: none;
}
.posts li p {
  margin-bottom: 25px;
}

.posts span {
  float: right;
  text-transform: uppercase;
  font-size: 0.70em;
  color: #777777;
}

.code {
  font-family: 'Source Code Pro';
  background-color: '#2A3F42';
  color: #3283B0;
  display: block;
}

.code b {
  font-family: 'Source Code Pro';  
  color: #B7C22C;  
}

.post {
  margin-top: 2em;
}

.techdetails {
  font-family: 'Lato', 'HelveticaNeue-Light', sans-serif;
  font-size: 90%;
  line-height: 110%;
  background-color: #EFEFEF;  
  color: #3F3F3F;  
  margin-left: 25px;
  padding: 20px 5px 5px 20px;
  overflow: hidden;  
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.techdetails ul {
  list-style: none;
}

.techdetails ul li p {
  padding:8px;
  background-color:#e6e6e6;
  border-left:1px solid #999;
  padding-bottom: 2px;
}

.techdetails ul li{
  padding:0 5px;
}

.social-links {
    margin: -40px 0 0 0;
    padding: 0;
    padding-top: 2px;
    float: right;
  }

.social-links li {
    display: inline;
    font-size: 22px;
}

