<div class="row comments">
      <div class="small-offset-1 small-10 columns">
        <div id="disqus_thread"></div>
        <script type="text/javascript">                        
        var disqus_shortname = 'hey-its-alex'; 
        var disqus_developer = 1;
        </script>

        <script type="text/javascript" src="https://disqus.com/forums/antzucaro/embed.js"></script>
        <noscript><a href="https://antzucaro.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
    <!-- END DISQUS -->
