
    <link href="/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">     
    <link href="/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/css/ss-social-circle/ss-social-circle.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Lato:300|Source+Code+Pro:400,700|Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="/css/fonts.css?body=1" rel="stylesheet" type="text/css" media="all">