<div class="brand">      
      <div class="container">    
          <a href="http://heyitsalex.net"><h1>Hey, it's <b>Alex</b>!</h1></a>              
          <h2 class="subtitle">Creating through Software, but not exclusively.</h2>
          <ul class="social-links">
            <li><a href="https://500px.com/alexnormand" class="ss-icon ss-social-circle">500px</a></li>
            <li><a href="http://flickr.com/photos/alexnormand" class="ss-icon ss-social-circle">flickr</a></li>                 
            <li>&nbsp;</li>
            <li><a href="https://github.com/alexandre-normand" class="ss-icon ss-social-circle">octocat</a></li>            
            <li><a href="https://twitter.com/alex_normand" class="ss-icon ss-social-circle">twitter</a></li>                         
            <li>&nbsp;</li>            
            <li><a href="/index.xml" class="ss-icon ss-social-circle">rss</a></li>
          </ul>
      </div>      
    </div>