/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full {
   margin-top: 2em;
 }

.post-full .date {
   font-size: 1.2em;
    font-variant: small-caps;
    color: #999;
    width: 150px;
    display: block;
    text-align: right;
    margin: 23px 0 0 -210px;
    float: left;
 }

.post-full figure.full
{
    width:102.7%;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: -0.4%;
}

figcaption
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #FEFEFE;    
    font-size: 80%;
    font-variant: small-caps;
    margin-left: 1%;
    display: block;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

p + p {
  margin-top: 30px;
}

footer { 
 position: relative;
 z-index: 10; 
 line-height: normal;
 margin-top: 10px; 
 /*font-size: 0.65em;
 font-family: 'Source Code Pro';*/
 font-size: 0.75em;
 font-family: 'Lato'; 
 padding-top: 2em; 
 padding-bottom: 1.5em;
}

.brand {
  color: #6EADEB;
  background-color: #3D546E;
  display: block;
  padding-bottom: 1em;
}

.brand h1 {
  padding-top: 0.3em;
  padding-left: 0.6em;
  font-family: 'share-regularregular';   
  font-size: 200%;
}

.brand h1 {
  font-family: 'share-regularregular';   
  font-size: 200%;
}

.brand h2.subtitle {
  padding-top: 0.3em;
  font-family: 'share-regularregular';   
  font-size: 140%;
  font-style: italic;
  padding-left: 75px;
  margin-top: -1em;
}
  
.brand a {
  color: #6EADEB;
  text-decoration:none;
}
.brand a:hover {
  color: #FFFFFF;
}

.brand h1 b {
  font-family: 'share-boldregular';     
}

.container {
  width: 750px;
  margin: 0 auto;
}

.posts li {
  line-height: 200%;
  list-style: none;
}
.posts span {
  float: right;
  text-transform: uppercase;
  font-size: 0.70em;
  color: #777777;
}

.code {
  font-family: 'Source Code Pro';
  background-color: '#454545';
  display: block;
}